@import url("./reset.css"

);
/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
  --default-font: 'Poppins', sans-serif;
  --primary-color:#2374ee;
  --hero-bg-color:#EBF2FF;
}

* {
  font-family: var(--default-font);
}

a {
  text-decoration: none;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: var(--hero-bg-color);
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-text {
  font-weight: 700;
  font-size: 1.5rem;
}

button{
  border-radius: 25px;
  border: 2px;
  padding: 1 rem 2rem;
}

.button-primary{
  background-color: var(--primary-color);
  color: white;
}

nav{
  display: flex;
  gap: 1rem;
}

/* Hero Styles */

.Hero__Top{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem;
  background-color: var(--hero-bg-color);

}

.Hero__Top h1{
  font-size: 3rem;
  line-height: 1.2;

}

.hero__content{
  display: grid;
  gap: 2rem;
}

.hero__image{
  grid-column: span 2 / span 2;
}